<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="clearfix">
          <h1 class="float-left display-3 mr-4">404</h1>
          <h4 class="pt-3">{{'error.404_page.you_are_lost' | translate }}</h4> 
          <p class="text-muted">{{'error.404_page.was_not_found' | translate }}</p>
        </div>
        <div class="input-prepend input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-search"></i></span>
          </div>
          <input id="prependedInput" class="form-control" size="16" type="text" placeholder="{{'error.404_page.what_are_you_looking_for' | translate }}">
          <span class="input-group-append">
            <button class="btn btn-info" type="button">{{'error.404_page.search' | translate }}</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
