<!-- Suivre -->
<div class=" bg-dark p-5 mb-5">
    <h4 class="text-warning text-center">{{'tracking.tracking_title' | translate}}</h4>
    <div class="c-voc-tracking-bar">
      <form method="GET" class="form-inline justify-content-center">
        <div class="form-group row custom-form">
          <div class="form-group mx-sm-6 mb-2">
            <label for="inputTracking" class="sr-only">{{'tracking.tracking_order' | translate}}</label>
            <input type="text" class="form-control" id="inputTracking" placeholder="{{'tracking.tracking_placeholder' | translate}}">
          </div>
          <button type="submit" class="btn btn-primary mb-2">{{'tracking.tracking_button' | translate}}</button>
        </div>
        <!-- <div class="c-voc-tracking-bar--input-outer-group">
          <div class="c-voc-tracking-bar--input-inner-group">
            <input class="c-voc-tracking-bar--input js--tracking-bar--input" id="c-voc-tracking-bar--input" name="tracking-id" type="text" placeholder="Saisissez votre/vos numéro(s) de suivi" data-error-message="Veuillez saisir votre/vos numéro(s) de suivi" required="" data-di-id="#c-voc-tracking-bar--input">
            <button class="c-voc-tracking-bar--button js--tracking-bar--button base-button " title="Veuillez renseigner ce champ." type="submit" data-tracking="{&quot;component&quot;:&quot;dhl/components/containers/marketing-stage-tracking&quot;,&quot;name&quot;:&quot;Track&quot;,&quot;topic&quot;:&quot;track your shipment&quot;}">
              
              Suivre 
            </button>
          </div>
        </div> -->
      </form>
    </div>
    
  </div>
  <!-- end suivre-->