<div class="animated fadeIn">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          {{'navbars.Karyngo_Navbar' | translate }}
        </div>
        <div class="card-body">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">{{'navbars.navbar' | translate }}</a>
            <button aria-controls="navbarSupportedContent" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" class="navbar-toggler" type="button" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent" [collapse]="isCollapsed" [isAnimated]="true">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">{{'navbars.home' | translate }} <span class="sr-only">{{'navbars.current' | translate }} </span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">{{'navbars.link' | translate }} </a>
                </li>
                <li class="nav-item dropdown" dropdown>
                  <a id="link-dropdown" class="nav-link dropdown-toggle" href dropdownToggle (click)="false" aria-controls="your-dropdown">
                    {{'navbars.dropdown' | translate }}
                  </a>
                  <div id="your-dropdown" class="dropdown-menu" aria-labelledby="link-dropdown" *dropdownMenu>
                    <a class="dropdown-item" href="#">{{'navbars.action' | translate }}</a>
                    <a class="dropdown-item" href="#">{{'navbars.another_action' | translate }}</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">{{'navbars.something_else' | translate }}</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#">{{'navbars.disabled' | translate }}</a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="{{'navbars.search' | translate }}" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">{{'navbars.search' | translate }}</button>
              </form>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
