<app-nav-bar></app-nav-bar>

<div class="imag">
    <div class="container">
        <div class="row">
            <div class="col-md-5 bg-white my-5"
                style="margin-right: auto; margin-left: auto; border-radius: 15px; background-color: rgba(10, 10, 10, 0.82) !important; color: white;">
                <div class="p-4"
                    style="margin-bottom: 20px; margin-top: 20px; text-align: center; border-bottom: 1px solid gray;">

                    <h3 style="font-size: 20px; color: white;"><b>{{'forgot.title' | translate}}</b></h3>
                </div>
                {{'forgot.subtitle' | translate}}<br><br>
                <form [formGroup]="forgotForm" (ngSubmit)="SubmitForm()" style="color: white;" class="card-body ">
                    <div class="form-group">
                        <input type="email" formControlName="field_email" placeholder="{{'signup.registration_email_placeholder' | translate}}" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.field_email.errors }">

                        <div *ngIf="submitted && f.field_email.errors" class="invalid-feedback text-danger">
                            <div *ngIf="f.field_email.errors.required">{{'signup.registration_email_required' | translate}}</div>
                        </div>
                    </div>
                    <span class="pull-right">
                        <app-progress-indeterminate *ngIf="waitingSendMail"></app-progress-indeterminate>
                        <button type="submit" class="login loginmodal-submit btn"
                             *ngIf="!waitingSendMail">{{'forgot.send_mail' | translate}}</button>
                    </span>
                    <!-- <span class="pull-right">
                        <input type="submit" class="btn btn-warning" value="Send mail">
                    </span> -->
                </form>
                <p>
                    <br><br><br><br>
                    <a href="javascript:void(0)" (click)="navigateToRegister()">{{'forgot.create_account' | translate}}</a>
                </p>
            </div>
        </div>
    </div>
</div>

<app-front-footer></app-front-footer>