.bradcam_bg_1{
    background: #2d2a21;
    padding-top: 9em;
    h3{
        color: #fff;
    }
}

.chose_area{
    background: #fff;
}

.contact-section{

    h2, h3{
        font-weight: 400;
    }
}