<!-- Footer -->
<footer class="page-footer font-small footer pt-4  mdl-mega-footer">

  <div class="footer-main">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-4 col-md-6 footer-widget footer-about">
          <h3 class="widget-title">{{'footer.aboutus' | translate}}</h3>
          <img loading="lazy" class="footer-logo" src="assets/img/logo_white.png" alt="Constra" />
          <p>{{'footer.description' | translate}}</p>
        </div><!-- Col end -->

        <div class="col-lg-4 col-md-6 footer-widget mt-5 mt-md-0">
          <h3 class="widget-title">{{'footer.workinghour' | translate}}</h3>
          <div class="working-hours">
            {{'footer.hourcontent' | translate}}
            <br><br>
            <small class="jaune">{{'footer.address' | translate}}</small>
            
            <br> Email: <span class="text-right">{{'footer.email' | translate}}</span> 
            <br> {{'footer.lbl_phone' | translate}}: <span class="text-right">{{'footer.phone' | translate}}</span>
            <br> Whatsapp: <a href="https://wa.me/27655271848" class="text-right text-warning">{{'footer.whatsapp' | translate}}</a>

            <br> 
            
          </div>
        </div><!-- Col end -->

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0 footer-widget">
          <h3 class="widget-title">{{'footer.social' | translate}}</h3>
          <ul class="list-arrow">
            <li><a target="_blank" href="https://www.facebook.com/Karryngo-2319923171666955"><i class="fab fa-facebook-f"></i> Facebook</a></li>
            <li><a target="_blank" href="https://twitter.com/Karryngo"><i class="fab fa-twitter"></i> Twitter</a></li>
            <li><a target="_blank" href="https://www.instagram.com/contact.karryngo/?hl=fr"><i class="fab fa-instagram"></i> Instagram</a></li>
            <li><a target="_blank" href="https://www.linkedin.com/company/karryngo"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
            <li><a target="_blank" href="https://www.youtube.com/channel/UCetqqDbIVRWWQw_kuQz6CTQ"><i class="fab fa-youtube"></i> YouTube</a></li>
            
          </ul>
        </div><!-- Col end -->
      </div><!-- Row end -->
    </div><!-- Container end -->
  </div><!-- Footer main end -->

  <div class="copyright">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-12">
          <div class="copyright-info text-center">
            <span>Copyright © <script>
                document.write(new Date().getFullYear())
              </script>2022, <a routerLink="/welcome">Karryngo</a></span>
          </div>
        </div>

        <div class="col-md-12">
          <div class="copyright-info text-center">
            
          </div>
        </div>

        <div class="col-md-12">
          <div class="footer-menu text-center">
            <ul class="list-unstyled mb-0">
              <li><a routerLink="/terms-and-conditions" >{{'footer.terms' | translate}}</a></li>
              <li><a routerLink="/privacy-policy" >{{'footer.policies' | translate}}</a></li>
            </ul>
          </div>
        </div>
      </div><!-- Row end -->

      <div id="back-to-top" data-spy="affix" data-offset-top="10" class="back-to-top position-fixed">
        <button class="btn btn-warning" title="Back to Top">
          <i class="fa fa-angle-double-up"></i>
        </button>
      </div>

    </div><!-- Container end -->
  </div><!-- Copyright end -->

</footer>
<!-- Footer -->
