<!-- !PAGE CONTENT! -->
<div class="therichpost-main">
    
    <div class="therichpost-row-padding therichpost-margin-bottom">
      <div class="therichpost-quarter">
        <div class="therichpost-container shadow therichpost-red therichpost-padding-16">
          <div class="therichpost-left"><i class="fa fa-car therichpost-xxxlarge"></i></div>
          <div class="therichpost-right">
            <h3>00</h3>
          </div>
          <div class="therichpost-clear"></div>
          <h4>{{'dashboard_country.trips' | translate }}</h4>
        </div>
      </div>
      <div class="therichpost-quarter">
        <div class="therichpost-container shadow therichpost-blue therichpost-padding-16">
          <div class="therichpost-left"><i class="fa fa-truck therichpost-xxxlarge"></i></div>
          <div class="therichpost-right">
            <h3>00</h3>
          </div>
          <div class="therichpost-clear"></div>
          <h4>{{'dashboard_country.carriers' | translate }}</h4>
        </div>
      </div>
      <div class="therichpost-quarter">
        <div class="therichpost-container shadow therichpost-teal therichpost-padding-16">
          <div class="therichpost-left"><i class="fa fa-file-o therichpost-xxxlarge"></i></div>
          <div class="therichpost-right">
            <h3>00</h3>
          </div>
          <div class="therichpost-clear"></div>
          <h4>{{'dashboard_country.orders' | translate }}</h4>
        </div>
      </div>
      <div class="therichpost-quarter">
        <div class="therichpost-container shadow therichpost-orange therichpost-text-white therichpost-padding-16">
          <div class="therichpost-left"><i class="fa fa-money therichpost-xxxlarge"></i></div>
          <div class="therichpost-right">
            <h3>00 <small>{{'dashboard_country.ZAR' | translate }}</small> </h3>
          </div>
          <div class="therichpost-clear"></div>
          <h4>{{'dashboard_country.earnings' | translate }}</h4>
        </div>
      </div>
    </div>
  
    <!-- <div class="therichpost-panel">
      <div class="therichpost-row-padding" style="margin:0 -16px">
        <div class="therichpost-third">
          <h5>Regions</h5>
          <img src="assets/images/region.jpg" style="width:100%" alt="Google Regional Map">
        </div>
        <div class="therichpost-twothird">
          <h5>Feeds</h5>
          <table class="therichpost-table therichpost-striped therichpost-white">
            <tr>
              <td><i class="fa fa-user therichpost-text-blue therichpost-large"></i></td>
              <td>New record, over 90 views.</td>
              <td><i>10 mins</i></td>
            </tr>
            <tr>
              <td><i class="fa fa-bell therichpost-text-red therichpost-large"></i></td>
              <td>Database error.</td>
              <td><i>15 mins</i></td>
            </tr>
            <tr>
              <td><i class="fa fa-users therichpost-text-yellow therichpost-large"></i></td>
              <td>New record, over 40 users.</td>
              <td><i>17 mins</i></td>
            </tr>
            <tr>
              <td><i class="fa fa-comment therichpost-text-red therichpost-large"></i></td>
              <td>New comments.</td>
              <td><i>25 mins</i></td>
            </tr>
            <tr>
              <td><i class="fa fa-bookmark therichpost-text-blue therichpost-large"></i></td>
              <td>Check transactions.</td>
              <td><i>28 mins</i></td>
            </tr>
            <tr>
              <td><i class="fa fa-laptop therichpost-text-red therichpost-large"></i></td>
              <td>CPU overload.</td>
              <td><i>35 mins</i></td>
            </tr>
            <tr>
              <td><i class="fa fa-share-alt therichpost-text-green therichpost-large"></i></td>
              <td>New shares.</td>
              <td><i>39 mins</i></td>
            </tr>
          </table>
        </div>
      </div>
    </div> -->
    <hr>
    <div class="therichpost-container">
      <h5>{{'dashboard_country.general_stats' | translate }} ({{current_date | date:'MMM, yyyy'}}) </h5>
      <p>{{'dashboard_country.new_trips' | translate }}</p>
      <div class="therichpost-grey">
        <div class="therichpost-container therichpost-center therichpost-padding therichpost-green" style="width:25%">+25%</div>
      </div>
  
      <p>{{'dashboard_country.new_customers' | translate }}</p>
      <div class="therichpost-grey">
        <div class="therichpost-container therichpost-center therichpost-padding therichpost-orange" style="width:50%">50%</div>
      </div>
  
      <p>{{'dashboard_country.bounce_rate' | translate }}</p>
      <div class="therichpost-grey">
        <div class="therichpost-container therichpost-center therichpost-padding therichpost-red" style="width:75%">75%</div>
      </div>
    </div>
    <hr>
  
    <div class="therichpost-container">
    <div class="card">
      <div class="card-header">
        <h5>{{'dashboard_country.countries' | translate }}</h5>
      </div>

      <table class="table align-items-center table-flush">
        <thead class="thead-light">
          <tr>
            <th scope="col">{{'dashboard_country.country' | translate }}</th>
            <th scope="col">{{'dashboard_country.manager' | translate }}</th>
            <th scope="col">{{'dashboard_country.orders' | translate }}</th>
            <th scope="col">{{'dashboard_country.earnings' | translate }}</th>
          </tr>
        </thead>
        <tbody>

          <tr>
            <th scope="row">{{'dashboard_country.south_africa' | translate }}</th>
            <td>Mathew</td>
            <td>R 10 000</td>
            <td>R 1 000</td>
          </tr>
          <tr>
            <th scope="row">{{'dashboard_country.RDC' | translate }}</th>
            <td>Stephane</td>
            <td>R 7 000</td>
            <td>R 1 500</td>
          </tr>
          <tr>
            <th scope="row">{{'dashboard_country.RCA' | translate }}</th>
            <td>Stella</td>
            <td>R 5 000</td>
            <td>R 500</td>
          </tr>
          <tr>
            <th scope="row">{{'dashboard_country.CMR' | translate }}</th>
            <td>Rolland</td>
            <td>R 8 500</td>
            <td>R 2 100</td>
          </tr>
          <tr>
            <th scope="row">{{'dashboard_country.Tanzania' | translate }}</th>
            <td>Stella</td>
            <td>R 5 000</td>
            <td>R 500</td>
          </tr>
        </tbody>
      </table><br>
    </div>
      <button class="therichpost-button therichpost-dark-grey">{{'dashboard_country.more_countries' | translate }}  <i class="fa fa-arrow-right"></i></button>
    </div>
    <hr>
 
    <br>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card mb-30">
                <div class="card-header border-0">
                    <h5 class="m-0">{{'dashboard_country.graph_of_earnings' | translate }}</h5>
                </div>
                <div class="chart-wrapper">
                <div lass="typo__p text-right" *ngIf="loading">
                    <div class="spinner sm spinner-primary mt-3"></div>
                </div>
                <div echarts *ngIf="!loading" [options]="echartProduct"></div>
                </div>
            </div>
        </div>
    </div>
  
    <!-- End page content -->
  </div>