<app-nav-bar></app-nav-bar>

<div class="imag">
    <div class="container">
        <div class="row">
            <div class="col-md-5 bg-white my-5"
                style="margin-right: auto; margin-left: auto; border-radius: 15px; background-color: rgba(10, 10, 10, 0.82) !important; color: white;">
                <div class="p-4"
                    style="margin-bottom: 20px; margin-top: 20px; text-align: center; border-bottom: 1px solid gray;">

                    <h3 style="font-size: 20px; color: white;"><b>Update password</b></h3>
                </div>
                Enter your new password.<br><br>
                <form [formGroup]="updateForm" (ngSubmit)="SubmitForm()" style="color: white;" class="card-body ">
                    <div class="form-group">
                        <input type="password" formControlName="field_password" placeholder="Password" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.field_password.errors }">

                        <div *ngIf="submitted && f.field_password.errors" class="invalid-feedback text-danger">
                            <div *ngIf="f.field_password.errors.required">Field is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="password" formControlName="field_password2" placeholder="Enter your password again" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.field_password2.errors }">

                        <div *ngIf="submitted && f.field_password2.errors" class="invalid-feedback text-danger">
                            <div *ngIf="f.field_password2.errors.required">Field is required</div>
                            <div *ngIf="f.field_password2.errors.mustMatch">Passwords must match</div>
                        </div>
                    </div>
                    <span class="pull-right">
                        <app-progress-indeterminate *ngIf="waitingUpdate"></app-progress-indeterminate>
                        <button type="submit" class="login loginmodal-submit btn"
                            value="Update" *ngIf="!waitingUpdate">Update password</button>
                    </span>
                </form>
                <p>
                    <br><br><br><br>
                    <a href="javascript:void(0)" (click)="navigateToRegister()">Create an account?</a>
                </p>
            </div>
        </div>
    </div>
</div>

<app-front-footer></app-front-footer>