<div >
    <div class="row">
        <br>
        <h4 class="mx-4 text-left title-form">{{'post_requests.post_request_trip.post_request_trip1.drivers_available' | translate }}</h4>
        <br><br>
    </div>

    <div class="row">
        <div class="col-12">
        <mat-selection-list #listSelectUser>
            <ng-container *ngIf="(!loadProvidersData && offerList.length>0) || !waitSelectedProvider">
                <mat-list-option class="container" *ngFor="let offer of offerList" [value]="offer">
                    <div class="row">
                        <!-- <div class="col-3">
                            <img src="assets/img/user_image.png" width="50px" height="50px" class="responsive-img rounded" alt="...">
                        </div> -->
                        <div class="col-12">
                            <span>{{offer.type}}</span>
                            <span style="font-style: italic;" matLine> {{offer.title}} </span>
                            <span (click)="showProviderDetail(offer)" class="suppier-detail"  matLine> {{'post_requests.post_request_trip.post_request_trip1.supplier_details' | translate }} </span>
                        </div>
                    </div>        
                    <mat-divider></mat-divider>   
                    <br>                        
                </mat-list-option>                     
            </ng-container>   
            <div *ngIf="offerList.length==0" class="d-flex-justify-content-center"><span>{{'post_requests.post_request_trip.post_request_trip1.no_provider_found' | translate }}</span></div>
            <!-- <div *ngIf="loadProvidersData==false && offerList.length==0" class="d-flex-justify-content-center"><span>{{'post_requests.post_request_trip.post_request_trip1.no_provider_found' | translate }}</span></div> -->
            <!-- <div class="d-flex justify-content-center" *ngIf="loadProvidersData==true || waitSelectedProvider">
                <app-progress-indeterminate></app-progress-indeterminate>
            </div> -->
            <div class="d-flex justify-content-center" *ngIf="waitSelectedProvider">
                <app-progress-indeterminate></app-progress-indeterminate>
            </div>
                        
        </mat-selection-list> 
        </div>
    </div>
    <div class="footer-registration text-right">

    </div>
    <div class="footer-registration text-right">
        <a [routerLink]="['/post-requests/trips']" class="btn next-button">{{'post_requests.post_request_trip.post_request_trip1.previous' | translate }}</a>

        <button type="button" *ngIf="!(selectedOfferInfos==null || waitSelectedProvider); else elseBlock" (click)="confirmAction()" [disabled]="selectedOfferInfos==null || waitSelectedProvider" class="btn next-button btn-w">
            {{'post_requests.post_request_trip.post_request_trip1.submit' | translate }}
        </button> <br>
        <!-- <ng-template #elseBlock> <small type="button" (click)="confirmActionWithoutOffer()" class="btn next-button btn-w">Content to render when condition is false.</small></ng-template> -->
        <ng-template #elseBlock>
            <p><a href="javascript:void(0)" (click)="confirmActionWithoutOffer()" style="text-decoration: underline; color: blue">Click here </a> to save your service and find offers later</p>
        </ng-template>
        <!-- <button type="button" *ngIf="!waitSelectedProvider" (click)="confirmActionWithoutOffer()" class="btn next-button btn-w">
            {{'post_requests.post_request_trip.post_request_trip1.submit' | translate }}
        </button> -->
    </div>
</div>


    <!-- <div >
        <div class="row">
        <br>
        <h4 class="mx-4 text-left title-form">{{'post_requests.post_request_trip.post_request_trip1.drivers_available' | translate }}</h4>
        <br><br>
        </div>
    
        <div class="row">
        <div class="col-12">
            <mat-selection-list #listSelectUser>
            <ng-container *ngIf="(!loadProvidersData && providerList.length>0) || !waitSelectedProvider">
                <mat-list-option class="container" *ngFor="let provider of providerList" [value]="provider">
                    <div class="row">
                        <div class="col-12">
                            <span>{{provider.getSimpleName()}}</span>
                            <span style="font-style: italic;" matLine> {{provider.isCompany?provider.companyName:'No Company'}} </span>
                            <span (click)="showProviderDetail(provider)" class="suppier-detail"  matLine> {{'post_requests.post_request_trip.post_request_trip1.supplier_details' | translate }} </span>
                        </div>
                    </div>        
                    <mat-divider></mat-divider>   
                    <br>                        
                </mat-list-option>                     
            </ng-container>   
            <div *ngIf="loadProvidersData==false && providerList.length==0" class="d-flex-justify-content-center"><span>{{'post_requests.post_request_trip.post_request_trip1.no_provider_found' | translate }}</span></div>
            <div class="d-flex justify-content-center" *ngIf="loadProvidersData==true || waitSelectedProvider">
                <app-progress-indeterminate></app-progress-indeterminate>
            </div>
                            
            </mat-selection-list> 
        </div>
        </div>
        <div class="footer-registration text-right">
    
        </div>
        <div class="footer-registration text-right">
        <a [routerLink]="['/post-requests/trips']" class="btn next-button">{{'post_requests.post_request_trip.post_request_trip1.previous' | translate }}</a>
    
        <button type="button" (click)="confirmAction()" [disabled]="selectedOfferInfos==null || waitSelectedProvider" class="btn next-button btn-w">
            {{'post_requests.post_request_trip.post_request_trip1.submit' | translate }}
        </button>
        </div>
    </div> -->