<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-md-12">
      <div class="card">
        <div class="card-header">
          <h3 class="jaune text-left mx-4 mb-4">{{'post_requests.post_request_transport.post_request_transport3.create_trip_request' | translate }}</h3> 
        </div>
        <div class="card-body">
          <!-- Start your project here-->
          <div class="container cont2">
            <!-- Default form register -->
            <form class="text-center p-2">

              <!-- row-item-->
              <div class="form-row mb-3">
                <div class="col">
                  <!-- First name -->
                  <input type="text" id="defaultRegisterFormFirstName" class="form-control field-form1 field"
                    placeholder="{{'post_requests.post_request_transport.post_request_transport3.from' | translate }}">
                  <p class="title-form sub-indication text-left">{{'post_requests.post_request_transport.post_request_transport3.departure_city' | translate }}</p>
                </div>
                <div class="col">
                  <!-- Last name -->
                  <input type="text" id="defaultRegisterFormLastName" class="form-control field-form1 field"
                    placeholder="{{'post_requests.post_request_transport.post_request_transport3.to' | translate }}">
                  <p class="title-form sub-indication text-left">{{'post_requests.post_request_transport.post_request_transport3.arrival_city' | translate }}</p>
                </div>
              </div>
              <!-- row-item-->

              <!-- row-item-->
              <div class="form-row mb-3">
                <div class="col">
                  <!-- First name -->
                  <input type="text" id="defaultRegisterFormFirstName" class="form-control field-form1 field"
                    placeholder="Date">
                  <p class="title-form sub-indication text-left">{{'post_requests.post_request_transport.post_request_transport3.date' | translate }}</p>
                </div>
                <div class="col">
                  <!-- Last name -->
                  <input type="text" id="defaultRegisterFormLastName" class="form-control field-form1 field"
                    placeholder="{{'post_requests.post_request_transport.post_request_transport3.number_of_seats' | translate }}">
                </div>
              </div>
              <!-- row-item-->

              <!-- row-item-->
              <div class="form-row m2">
                <div class="col">
                  <select class="form-control field-form1 field"> 
                    <option selected>{{'post_requests.post_request_transport.post_request_transport3.prefered_service_type' | translate }}</option> 
                    <option value="1">{{'post_requests.post_request_transport.post_request_transport3.select_option1' | translate }}</option> 
                    <option value="2">{{'post_requests.post_request_transport.post_request_transport3.select_option2' | translate }}</option>
                    <option value="3">{{'post_requests.post_request_transport.post_request_transport3.select_option3' | translate }}</option>
                  </select>
                </div>
                <div class="col">
                  <select class="form-control field-form1 field">
                    <option selected>{{'post_requests.post_request_transport.post_request_transport3.prefered_service_type' | translate }}</option>
                    <option value="1">{{'post_requests.post_request_transport.post_request_transport3.select_option1' | translate }}</option>
                    <option value="2">{{'post_requests.post_request_transport.post_request_transport3.select_option1' | translate }}</option>
                    <option value="3">{{'post_requests.post_request_transport.post_request_transport3.select_option1' | translate }}</option>
                  </select>
                </div>
              </div>
              <!-- row-item-->

              <!-- row-item-->
              <div class="form-row form-group shadow-textarea m2">
                <label for="exampleFormControlTextarea6">{{'post_requests.post_request_transport.post_request_transport3.message' | translate }}</label>
                <textarea class="form-control field-form2 z-depth-1" id="exampleFormControlTextarea6" rows="3"
                  placeholder="{{'post_requests.post_request_transport.post_request_transport3.textarea_placeholder' | translate }}"></textarea>
              </div>
              <!-- row-item-->

            </form>
            <!-- Default form register -->
            <button type="button" class="btn next-button btn-weith">{{'post_requests.post_request_transport.post_request_transport3.go' | translate }}</button>
          </div>
        </div>
        <!-- Start your project here-->

      </div>
    </div>
  </div>
</div>
