<app-nav-bar></app-nav-bar>

    <div class="container c">
        <h3 class="text-center"> {{'terms.terms_title' | translate}} </h3>
        <h4>{{'terms.terms_title_1' | translate}}</h4>
        <p> {{'terms.terms_title_1_p1' | translate}} </p> 
        <p>
            {{'terms.terms_title_1_p2' | translate}} 
        </p> 
        <p>
            {{'terms.terms_title_1_p3' | translate}} 
        </p> 
        <p>
            {{'terms.terms_title_1_p4' | translate}} 
        </p> 

        <h4> {{'terms.terms_title_2' | translate}} </h4>
        <p> {{'terms.terms_title_2_p1' | translate}} </p>
        <p> {{'terms.terms_title_2_p2' | translate}} </p>
        <p> {{'terms.terms_title_2_p3' | translate}} </p>
        <p> {{'terms.terms_title_2_p4' | translate}} </p>
        <p> {{'terms.terms_title_2_p5' | translate}} </p>
        <p> {{'terms.terms_title_2_p6' | translate}} </p>
        <p> {{'terms.terms_title_2_p7' | translate}} </p>
        <p> {{'terms.terms_title_2_p8' | translate}} </p>

        <h4> {{'terms.section_1' | translate}} </h4>
        <p> {{'terms.section_1_content' | translate}} </p>

        <h4> {{'terms.section_2' | translate}} </h4>
        <p> {{'terms.section_2_content' | translate}} </p>

        <h4> {{'terms.section_3' | translate}} </h4>
        <div class="e2e-inner-html-bound" innerHTML="{{'terms.section_3_content' | translate}}" ></div>

        <h4> {{'terms.section_4' | translate}} </h4>
        <p> {{'terms.section_4_content' | translate}} </p>

        <h4> {{'terms.section_4' | translate}} </h4>
        <p> {{'terms.section_4_content' | translate}} </p>

        <h4> {{'terms.section_6' | translate}} </h4>
        <div class="e2e-inner-html-bound" innerHTML="{{'terms.section_6_content' | translate}}" ></div>

        <h4> {{'terms.section_7' | translate}} </h4>
        <p> {{'terms.section_7_content' | translate}} </p>

        <h4> {{'terms.section_8' | translate}} </h4>
        <p> {{'terms.section_8_content' | translate}} </p>

        <h4> {{'terms.section_9' | translate}} </h4>
        <div class="e2e-inner-html-bound" innerHTML="{{'terms.section_9_content' | translate}}" ></div>

        <h4> {{'terms.section_10' | translate}} </h4>
        <p> {{'terms.section_10_content' | translate}} </p>

        <h4> {{'terms.section_11' | translate}} </h4>
        <p> {{'terms.section_11_content' | translate}} </p>

        <h4> {{'terms.section_12' | translate}} </h4>
        <p> {{'terms.section_12_content' | translate}} </p>

        <h4> {{'terms.section_13' | translate}} </h4>
        <p> {{'terms.section_13_content' | translate}} </p>

        <h4> {{'terms.section_14' | translate}} </h4>
        <p> {{'terms.section_14_content' | translate}} </p>

        <h4> {{'terms.section_15' | translate}} </h4>
        <p> {{'terms.section_15_content' | translate}} </p>

        <h4> {{'terms.section_16' | translate}} </h4>
        <p> {{'terms.section_16_content' | translate}} </p>

        <h4> {{'terms.section_17' | translate}} </h4>
        <p> {{'terms.section_17_content' | translate}} </p>

        <h4> {{'terms.section_18' | translate}} </h4>
        <p> {{'terms.section_18_content' | translate}} </p>

        <h4> {{'terms.section_19' | translate}} </h4>
        <p> {{'terms.section_19_content' | translate}} </p>

        <h4> {{'terms.section_20' | translate}} </h4>
        <p> {{'terms.section_20_content' | translate}} </p>

    </div>

<app-front-footer></app-front-footer>
