<app-nav-bar></app-nav-bar>
<!-- figurative filling of content -->
<div class="site-section bg-image custom-works" style="background-image: url('assets/img/bg-tile.jpg');">
    <div class="container">
        
        <div class="section-head text-light text-center animated fadeIn pt-5">
            <h2>{{'network.franchise_title' | translate}}</h2>
            <p>{{'network.franchise_subtitle' | translate}}</p>
        </div>

        <div class="row">
            <div class="col-md-12 bloc-desc custom-brand animated fadeIn">
                
                <h5>{{'network.franchise_program' | translate}}</h5>
                <p>{{'network.franchise_program_content' | translate}}</p>
                
                <h5>{{'network.franchise_application' | translate}}</h5>
                <p>{{'network.franchise_application_content' | translate}}</p>
                
                <h5>{{'network.franchise_process' | translate}}</h5>
                <p>{{'network.franchise_process_content' | translate}}</p>
                
                <h5>{{'network.franchise_selection' | translate}}</h5>
                <p>{{'network.franchise_selection_content' | translate}}</p>

                <h5>{{'network.franchise_setup' | translate}}</h5>
                <p>{{'network.franchise_setup_content' | translate}}</p>

                <h5>{{'network.franchise_growing' | translate}}</h5>
                <div class="custom-div" innerHTML="{{'network.franchise_growing_content' | translate}}" ></div>

                <h5>{{'network.franchise_enquiries' | translate}}</h5>
                <div class="custom-div" innerHTML="{{'network.franchise_enquiries_content' | translate}}"></div>

                <p>
                    <!-- <img src="assets/img/signature.png" height="80px" />  -->
                    ASN
                </p>
            </div>
        </div>
    </div>
    
</div>

<app-front-footer></app-front-footer>
