<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-6 col-md-12">
            <div class="card bg-dark"> <br><br><br>
                <h3 class="jaune text-center mx-4 mb-4" style="size: 10px;">
                    {{'carrier.wait_acceptance.h3_part1' | translate }} <strong>{{'carrier.wait_acceptance.h3_part2' | translate }}</strong> {{'carrier.wait_acceptance.h3_part3' | translate }}
                </h3>
                <p class="text-center">{{'carrier.wait_acceptance.we_will_notify_you' | translate }}</p>
                <br><br><br>
                <!-- <app-progress-indeterminate></app-progress-indeterminate> -->
                <div class="text-center">
                    <button type="button" class="btn btn-weith">{{'carrier.wait_acceptance.button_contact' | translate }}</button>
                </div>
            </div>
        </div>
    </div>
</div>
