<app-nav-bar></app-nav-bar>

<div class="imag">
    <div class="container-fluid">
        <div class="row pt-5" >
            <div class="col-md-5 bg-white my-5 p-5"
                style="margin-right: auto; margin-left: auto; border-radius: 15px; background-color: rgba(10, 10, 10, 0.82) !important; color: white;">
                
                    
                    <div class="row" *ngIf="activating">
                        <div class="col-md-12" style="text-align: center;">
                            <div class="spinner-border m-5" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>
                    
                    <div *ngIf="activationStatus === 'success'">
                        <h1>{{'activation.activation_successful' | translate}}</h1>
                        <p>{{'activation.activation_congratulations' | translate}}</p>
                    </div>
                    
                    <div *ngIf="activationStatus === 'error'">
                        <h1 style="color: white !important;">{{'activation.activation_no' | translate}} </h1> 
                        <!-- <h1>Account Activation Failed ! </h1> -->
                        <p>{{'activation.activation_sorry' | translate}}</p>
                        <!-- <p>Sorry, there was an error activating your account. This link may be invalid</p> -->
                        <a href="javascript:void(0)" class="text-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">{{'activation.activation_click_here' | translate}}</a> {{'activation.activation_new_link' | translate}}
                    </div>
            </div>
        </div>
    </div>
</div>

<app-front-footer></app-front-footer>



<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{'activation.activation_email_t' | translate}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                {{'activation.activation_email_c1' | translate}} <strong>{{'activation.activation_btn_send' | translate}}</strong> {{'activation.activation_email_c2' | translate}}
                <form [formGroup]="activationForm" (ngSubmit)="activation_email()">
                    <div class="modal-body">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label" >{{'activation.activation_email_field' | translate}}:</label>
                                <input type="email" class="form-control" formControlName="email" id="recipient-name" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback text-danger">
                                    <div *ngIf="f.email.errors.required">{{'activation.activation_enter' | translate}}</div>
                                </div>
                                
                            </div>
                            <div *ngIf="not_found!=''" class=" text-danger">
                                <div>{{not_found}} </div>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary dis" data-dismiss="modal">{{'activation.activation_btn_cancel' | translate}}</button>
                        <button type="submit" class="btn btn-primary">{{'activation.activation_btn_send' | translate}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>