<!-- <div class="body-inner">

</div> -->
<header id="header" class="header-two">
  <div class="site-navigation">
    <div class="container">
      <app-nav-bar></app-nav-bar>
    </div>
  </div>
</header>

<app-full-intro></app-full-intro>
<!-- Start your project here-->
<div class="container-deck">

  <div class="transportaion_area">
    <div class="container">
      
        <div class="row text-center">
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single_transport" [routerLink]="['services/hand-to-hand']">
                    <div class="icon">
                        <img src="../../../assets/img/Hand2Hand.png" alt="Hand 2 Hand" />
                    </div><br><br><br><br>
                    <h3 >{{'home.service_t1' | translate}}</h3>
                    <p>{{'home.service_d1' | translate}}</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single_transport" [routerLink]="['services/motorbikes']">
                    <div class="icon">
                        <img src="../../../assets/img/svg_icon/motorbike.jpg" alt="Bike" />
                    </div><br><br><br><br>
                    <h3>{{'home.service_t2' | translate}}</h3>
                    <p>{{'home.service_d2' | translate}}</p>
                    <!-- <p>By tracking real-time monitoring package over time, you are informed about events occured according to the transportation</p> -->
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single_transport" [routerLink]="['services/vehicles']">
                    <div class="icon">
                        <img src="../../../assets/img/svg_icon/truck.jpg" alt="Truck" style="height: 150px; width: 300px;object-fit: cover !important;">
                    </div><br><br><br><br>
                    <h3>{{'home.service_t3' | translate}}</h3>
                    <p>{{'home.service_d3' | translate}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

<!-- Suivre -->
<app-tracking></app-tracking>
<!-- end suivre-->

<!-- chose_area  -->
<div class="chose_area">
  <div class="container">
      <div class="features_main_wrap">
          <div class="row  align-items-center">
              <div class="col-xl-6 col-lg-6 col-md-6">
                  <div class="about_image">
                      <img src="assets/img/bg_side_4-1.jpg" alt="" />
                  </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6">
                  <div class="features_info">
                      <h3>{{'home.why_title' | translate}}</h3>
                      <p class="text-justify">{{'home.why_desc' | translate}}</p>
                      <ul>
                          <li> {{'home.why_item_1' | translate}} </li>
                          <li> {{'home.why_item_2' | translate}} </li>
                          <li> {{'home.why_item_3' | translate}} </li>
                          <li> {{'home.why_item_4' | translate}} </li>
                      </ul>

                      <!-- <div class="about_btn">
                          <a class="boxed-btn3-line" routerLink="/about-us">About Us</a>
                      </div> -->
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!--/ chose_area  -->


<!-- <div class="row container-not-magin">

  <div class="col-sm">
    <div class="container">
      <div class="text-left contener2">
        <h2>WHY KARRYNGO ?</h2>
        <p>
          About 64% of all on-line teens say that do things online that they would'nt want their parents to know
          about.
          11% of all adult internet users visit dating websites and spend their time in chatrooms.
        </p>

        <hr class="sparator text-left">

        <div class="row">
          <div class="col-sm media">
            <i class="fas fa-user-circle fa-3x jaune mx-4"></i>
            <div class="media-body my-3">
              <strong>Customer satisfaction</strong>
              <p class="text-icon">12 Handy Tips for Generating Leads Through Cold Calling</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm media">
            <i class="fas fa-chart-bar fa-3x jaune mx-4"></i>
            <div class="media-body my-3">
              <strong>Management Reporting</strong>
              <p class="text-icon">12 Handy Tips for Generating Leads Through Cold Calling</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm media">
            <i class="fas fa-shopping-cart fa-3x jaune mx-4"></i>
            <div class="media-body my-3">
              <strong>Freight Payment Solution</strong>
              <p class="text-icon">12 Handy Tips for Generating Leads Through Cold Calling</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm Commitment">
    <div class="container">
      <div class="text-center view">
        <img class="image-back img-fluid" src="assets/img/bg_side_4-1.jpg" alt="image">
        <div class="mask mask-margin">
          <div class="card card-back text-left">
            <h3 class="card-title jaune my-4 content-card">KarrynGo Commitment</h3>
            <hr>
            <p class="white-text content-card mx-4">
              We are commited to be the leading logistic solution provider to our customer. We continually
              improving & implementing a quality management to achieve it.
            </p>
            <img class="mx-4 signature img-fluid" src="assets/img/signature.png" alt="Signature">
            <p class="white-text content-card mx-4">ANSELME NANA</p>
            <p class="yellow-text content-card mx-4">CEO KarrynGo</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div> -->


    <!-- contact_action_area  -->
    <div class="contact_action_area">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-xl-7 col-md-6">
                  <div class="action_heading">
                      <h3>{{'home.pro_title' | translate}}</h3>
                      <p>{{'home.pro_content' | translate}}</p>
                  </div>
              </div>
              <div class="col-xl-5 col-md-6">
                  <!-- <div class="call_add_action">
                      <a (click)="registration()" class="boxed-btn3">Get started</a>
                  </div> -->
              </div>
          </div>
      </div>
  </div>
  <!-- /contact_action_area  -->


<app-front-footer></app-front-footer>