<app-nav-bar></app-nav-bar>

<div class="imag">
    <div class="container" style="margin-top: 70px; margin-bottom: 0px;">
        <div class="row">
            <div class="col-md-5 bg-white my-5 card" style="margin-right: auto; margin-left: auto; border-radius: 15px;
            background-color: rgba(10, 10, 10, 0.82) !important;">
                <div class="p-4" style="margin-bottom: 15px; margin-top: 15px; text-align: center; border-bottom: 1px solid gray;">
                    <h3 style="color: white; font-size:20px;">{{ 'reset_password.reset_password_title' | translate }}</h3>
                </div>
                <form [formGroup]="passForm" (ngSubmit)="onSubmit()" style="color: white;" class="card-body ">
                    <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="showCode">
                        {{ 'reset_password.reset_password' | translate }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="form-group" *ngIf="showCode">
                        <label for="code"><b>{{ 'reset_password.code' | translate }}</b></label>
                        <input type="text" id="code" formControlName="code" placeholder="{{ 'reset_password.code' | translate }}"
                            class="form-control" [ngClass]="{ 'is-invalid': submitted && f.code.errors }">

                        <div *ngIf="submitted && f.code.errors" class="invalid-feedback text-danger">
                            <div *ngIf="f.code.errors.required">{{'code_required' | translate}}</div>
                        </div>
                    </div><br>
                    <div class="form-group">
                        <label for="password"><b>{{ 'reset_password.password' | translate }}</b></label>
                        <input type="password" id="password" formControlName="password" placeholder="{{ 'reset_password.password' | translate }}"
                            class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">

                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback text-danger">
                            <div *ngIf="f.password.errors.required">{{'login_required' | translate}}</div>
                        </div>
                    </div><br>
                    <div class="form-group">
                        <label for="password2"><b>{{ 'reset_password.reenter_password' | translate }}</b></label>
                        <input id="password2" type="password" formControlName="password2"
                            placeholder="{{ 'reset_password.reenter_password' | translate }}" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.password2.errors }" />

                        <div *ngIf="submitted && f.password2.errors" class="invalid-feedback text-danger">
                            <div *ngIf="f.password2.errors.required">{{'login_password_required' | translate}}</div>
                            <div *ngIf="f.password2.errors.mustMatch">{{'must_match' | translate}}</div>
                        </div>
                    </div>
                    <br>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="incorrectCode">
                        {{ 'reset_password.incorrect_code' | translate }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <app-progress-indeterminate *ngIf="waitingRegistration"></app-progress-indeterminate>
                    <span class="pull-right">
                        <button type="submit" class="login btn"
                            value="Login" *ngIf="!waitingRegistration">{{'submit' | translate}}</button>
                    </span>
                </form>
                <div class="d-flex justify-content-end social_icon">
                    <!-- Social icons -->
                </div>
            </div>
        </div>
    </div>
</div>

<app-front-footer></app-front-footer>
