.btn-primary{
    background: #fecd0b !important;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
 }
 
 .btn-primary:hover{
    background: #000 !important;
    color: #fecd0b !important;
 }

 #section-services .container h2, .section-providers .container h3{   
    color: #e5c94f !important;
 }
 
 .section-providers .container h2{
     color: #d8ad1f !important;
 }