<form [formGroup]="searchForm">
    <div class="form-group row">
        <div class="col-md-6">
            <label for="fromDate">From Date:</label>
            <input type="date" id="fromDate" formControlName="fromDate" class="form-control">
        </div>
        <div class="col-md-6">
            <label for="toDate">To Date:</label>
            <input type="date" id="toDate" formControlName="toDate" class="form-control">
        </div>
        <!-- <div class="col-md-6">
            <label for="sort">Sort:</label>
            <select id="sort" formControlName="sort" class="form-control">
                <option value="1">Ascending</option>
                <option value="-1">Descending</option>
            </select>
        </div> -->
        <div class="col-md-6">
            <label for="sort">Country:</label>
            <select id="sort" formControlName="country_id" class="form-control">
                <option value="" selected>All</option>
                <option style="font-weight: bold;" *ngFor="let country of countries" [value]="country._id">{{ 'countries.' + country.name | translate }}</option>
            </select>
        </div>
        <div class="col-md-6">
            <label for="displayMode">Display Mode:</label>
            <select id="displayMode" formControlName="displayMode" class="form-control">
                <option [value]="0">All</option>
                <option [value]="1">Daily</option>
                <option [value]="2">Weekly</option>
                <option [value]="3">Monthly</option>
                <option [value]="4">Yearly</option>
            </select>
        </div>
        <div class="col-md-12">
            <div class="row my-3">
                <label for="displayMode">Type of services:</label>
                <div class="col-md-12">
                    <p>
                        <span *ngFor="let item of selectedToppings" class="badge badge-info mr-2 p-2" style="cursor: pointer;" (click)="remove_service(service)">{{item}}</span>
                    </p>
                </div>
                <div class="col-md-12 mt-4">
                    <!-- <mat-form-field style="width: 100%;" *ngIf="(servs$ | async) as services">
                        <mat-select placeholder="{{'business_profile.value' | translate}}" formControlName="type" [(value)]="selectedToppings" multiple (selectionChange)="onSelectionChange($event)">
                            <mat-option *ngFor="let service of services" [value]="service.value">{{ service.name }}</mat-option>
                        </mat-select>
                    </mat-form-field> -->
                    <mat-form-field style="width: 100%;" *ngIf="(servs$ | async) as services">
                        <mat-select placeholder="{{ 'business_profile.value' | translate }}" formControlName="type" [(value)]="selectedToppings" multiple (selectionChange)="onSelectionChange($event)">
                            <!-- <mat-option value="selectAll" (click)="selectAllOptions($event)">
                                Select All
                            </mat-option> -->
                            <mat-option *ngFor="let service of services" [value]="service.value">{{ service.name }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-registration text-center">
        <button type="submit" class="btn next-button" (click)="getServiceStatistics()">
        Search
        </button>
    </div>
</form>
  
<div class="row">
    <div class="col-md-12">
        <section class="intro">
            <div class="bg-image h-100" style="background-color: #f5f7fa;">
                <div class="mask d-flex align-items-center h-100">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <div class="card shadow-2-strong">
                                    <div class="card-body p-0">
                                        <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative; height: 700px">
                                            <table class="table table-dark mb-0">
                                                <thead style="background-color: #393939;">
                                                    <tr class="text-uppercase text-success">
                                                    <th scope="col">Country</th>
                                                    <th scope="col">Display Mode</th>
                                                    <th scope="col">TimeStamp</th>
                                                    <th scope="col">Number Services</th>
                                                    <th scope="col">Types Of Service</th>
                                                    <th scope="col">Total Revenue</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let d of data">
                                                        <td> {{ d.country?.name }} </td>
                                                        <td> {{ mode[searchForm.value.displayMode] }} </td>
                                                        <td> {{d._id?.year}}-{{d._id?.month}}-{{d._id?.week}}-{{d._id?.day}} </td>
                                                        <td> {{d.count}} </td>
                                                        <td> {{d._id?.title ? d._id.title : "ANY"}} </td>
                                                        <td> {{ d.totalRevenue + " "+ d.currency?.symbol }} </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>          
    </div>
    <div class="col-md-12">
        <div class="chart-container">
            <canvas  id="MyChart" >{{ chart }}</canvas>
        </div>
    </div>
</div>